*{
    margin: 0;
    padding: 0;
}

/*Estilos base*/

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #191919;
    color: #F0E9E2;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration-line: none;
    font-weight: bold;
}

a:link{
    color: #9EA548;
}

a:hover{
    color: #EFD0B1;
}


.titulosPrincipales{
    color: #EFD0B1;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}


.encabezado{
    display: flex;

    .encabezado__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: animate__pulse;
    animation-duration: 5s;
    width: 50%;
    
        @keyframes animate__pulse{
            0%{
                opacity: 0;
            }
        
            100%{
                opacity: 1;
            }
        }
    
        .contenedor__logo{
            margin: 1%;
        }

        .contenedor__titulo{
            color: #9EA548;
            font-weight: bold;
            font-size: medium;
            margin: 0%;
        }
    }

    .encabezado__menu{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        
        .menu__item{
            font-weight: bold;    
            font-size: small;
            list-style-type: none;
    
            &.menu__item--active{
                text-transform: uppercase;
                font-size: smaller;
            }
        }
    }
}


.footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #2E2C20;
    justify-content: space-around;
    font-size: 12px;


    .footer__contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;

            .contenedor__icono{
            }

            .contenedor__info{
                display: flex;
                flex-direction: row;
                margin: 0px;
            }
    }
}

.infoProductores{
    padding: 1%;
    
    .infoProductores__titulo{
        @extend .titulosPrincipales;
    }

    .infoProductores__contenido{
        font-size: 16px;
        color: #EFD0B1;
    }
}

.listadoProductores{
    display: flex;

    .listadoProductores__contenedor{
        padding: 30px;
        margin: 20px;
        border-radius: 5px;
        border: #F0E9E2;

        .contenedor__nombre{
            @extend .titulosPrincipales;
            font-size: 15px;
        }

        .contenedor__descripcion{
            font-size: 13px;
        }
        .contenedor__img{
            border-radius: 5px;
        }
    }
}



h3{
    color: #F0E9E2;
    font-size: 18px;
}

h4{
    color: #F0E9E2;
    font-size: medium;
    text-align: center;
    padding: 5%;
}

.nutricion{
    margin: 10px;

    .nutricion__titulo{
        @extend .titulosPrincipales;
        
    }

    .nutricion__bajada{
        font-style: italic;
    }
}

.piramide{
    display: flex;
    margin: 2%;
    align-content: center;
    justify-content: center;

    .piramide__nutri{
        display: flex;
        flex-direction: column;
        text-align: center;

        .nutri__descripcion{
        }

        .nutri__img{
            padding: 1%;
        }
  

        
    }
}

.contacto{
    padding: 10px;

    .contacto__titulo{
        @extend .titulosPrincipales;

    }

    .contacto__bajada{
        font-size: 13px;

    }
}


legend{
    font-size: 14px;
    font-weight: bold;

    form{
        font-size: 12px; 
    }
}



#gridContenidoHome{
    display: grid;
}

    .bannerHome{
        grid-area: banner;
        background-image: url(../Multimedia/Fondos-Banners/background-alcaulcil.jpg);
        background-size: cover;
        width: 100%;
        color: #2E2C20;
        text-align: left;
        font-family: 'Dancing Script', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 100px;
    }

    .introHome{
        grid-area: principal;
    }

    .articuloHome{
        grid-area: articulo;
        background-color: #9EA548;
    }

    .metodoCompra{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        justify-items: center;
    
        .metodoCompra__cont{
            display: flex;
            align-items: center;
    
            .cont__bajadaMetodo{
                text-align: center;
            }
    
            .cont__grupo{
                display: flex;
                .grupo__img{
                }
        
                .grupo__textoMetodo{
                    font-size: smaller;
                }
            }
        }
    }

.almacen{
    margin: 1%;
    
    .almacen__intro{
    
        .intro__titulo{
            @extend .titulosPrincipales;

        }
    
        .intro__bajada{
        font-size: 13px;

        }
    }
}
    


.categoriaProductos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

    .categoriaProductos__cont{
        flex-direction: column;
        align-content: center;
               
        .cont__imgCategoria{
            border-radius: 10%;
        }

        .cont__bajada{
            color: #EFD0B1;
            font-size: small;
            text-transform: uppercase;
        }
    }
}



/*Media Queries*/

/* Mobile Styles */
@media only screen and (max-width: 480px){

    .encabezado{
        flex-direction: column;
        align-items: center;
        
        .encabezado__contenedor{

            .contenedor__logo{
                    margin: 2%;
            }
        
            .contenedor__titulo{
                display: none;
            }
        }

        .encabezado__menu{
            flex-direction: column;
        }
    }


    #gridContenidoHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4fr 2fr 4fr;
        grid-template-areas: "banner"
                             "principal" 
                             "articulo"
    }
    
        .bannerHome{
            grid-area: banner;
            width: 100%;
            height: 300px;
            font-size: 50px;
            background-image: url(../Multimedia/Fondos-Banners/background-alcaulcil-md.jpg);
            background-size: cover;
        }
    
        .introHome{
            grid-area: principal;
            width: 100%;
            color: #F0E9E2;
            font-size: xx-small;
            text-align: center;
            padding: 1%;

            h2{
                color: #EFD0B1;
                font-size: small;
                text-transform: uppercase;
            }
        }
        
        .articuloHome{
            grid-area: articulo;
            width: 100%;
            height: 300px;
            text-align: center;
            align-content: center;
            padding: 5px 15px 5px 15px;
            font-size: xx-small;
            
            #carouselfundador{
                padding: 2% 20% 2% 20%;
            }

            h3{
                font-size: small;
            }
        }

        .metodoCompra{
            margin: 3%;
            padding: 10%;
    
            .metodoCompra__cont{
                flex-direction: column;
        
                .cont__bajadaMetodo{
                    flex-direction: row;
                    padding: 10%;
                }
        
                .cont__grupo{
                    flex-direction: column;
                    align-items: center;
                    justify-items: space-evenly;
                    padding: 1%;
                    margin: 1%;
    
                    .grupo__img{
                    }
            
                    .grupo__textoMetodo{
                        padding: 20%;
                        text-align: center;
                    }
                }
            }
        }        
    
        .listadoProductores{
            flex-direction: column;
            justify-content: space-evenly;
        }

        .footer{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            font-size: xx-small;
            align-items: center;
            padding: 1%;
        
            .footer__contenedor{
                flex-direction: column;
                padding: 1%;

                    .contenedor__info{
                        flex-direction: row;
                    }
            }
        }

        .almacen{
            text-align: center;
            padding: 2%;
            margin: 5%;
        }

        .categoriaProductos{

            .categoriaProductos__cont{
                padding: 1%;

                .cont__imgCategoria{
                    padding: 2%;
                }
        
                .cont__bajada{
                    padding: 2%;
                }
            }
        }

}

/* Tablet Styles */
@media only screen and (min-width: 481px){

    
    .encabezado{
        flex-direction: column;
        padding: 1%;
        align-items: center;

        .encabezado__contenedor{
            flex-direction: row;
        }

            .contenedor__logo{
                margin: 5%;
            }

            .contenedor__titulo{
                margin: 5%;
            }

        .encabezado__menu{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    h2{
        color: #EFD0B1;
        font-size: medium;
        text-transform: uppercase;
    }
     
    .footer{
        flex-direction: row;
        background-color: #191919;
        margin: 1%;
        padding: 1%;
        justify-content: space-between;

        .footer__contenedor{

            .contenedor__icono{
                padding: 0% 10% 0% 0%;
            }

            .contenedor__info{
                flex-direction: row;
            }
        }
    }

    #gridContenidoHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 20% 40%;
        grid-template-areas: "banner"
                             "principal" 
                             "articulo"

    }
    
        .bannerHome{
            grid-area: banner;
            height: 500px;
        }

        .introHome{
            grid-area: principal;
            height: 250px;
            color: #F0E9E2;
            text-align: right;
            padding: 5%;
        }


        .articuloHome{
            grid-area: articulo;
            height: 500px;
            text-align: left;
            padding: 5% 5% 10% 5%;

            #carouselfundador{
                padding: 5% 20% 5% 20%;
            }

            h3{
                color: #2E2C20;
                text-transform: uppercase;
                font-size: 15px;
            }
        }

        .metodoCompra{
            margin: 2%;
    
            .metodoCompra__cont{
                flex-direction: column;
        
                .cont__bajadaMetodo{
                    flex-direction: row;
                    padding: 10%;
                }
        
                .cont__grupo{
                    flex-direction: column;
                    align-items: center;
                    justify-items: space-evenly;
                    padding: 1%;
                    margin: 1%;
    
                    .grupo__img{
                    }
            
                    .grupo__textoMetodo{
                        padding: 20%;
                        text-align: center;
                    }
                }
            }
        }



    .listadoProductores{
        flex-direction: column;
        justify-content: space-between;
    }


    .almacen{
        text-align: center;
    }

    .categoriaProductos{

        .categoriaProductos__cont{
            padding: 2%;

            .cont__imgCategoria{
                padding: 3%;
            }
    
            .cont__bajada{
                padding: 5%;
            }
        }
    }

}  

  
/* Desktop Styles */
@media only screen and (min-width: 1024px){

    .encabezado{
        flex-direction: row;
        justify-content: space-between;

        .encabezado__contenedor{
        flex-direction: row;

        
            .contenedor__logo{
                margin: 1%;
            }
    
            .contenedor__titulo{
                color: #9EA548;
                font-weight: bold;
                font-size: medium;
                margin: 0%;
            }
        }
    
    }
    
    
    .footer{
        display: flex;
        flex-direction: row;
        text-align: center;
        background-color: #2E2C20;
        justify-content: space-around;
        font-size: smaller;
        margin: 0px;

    
        .footer__contenedor{
            display: flex;
            flex-direction: row;
            align-items: center;
    
                .contenedor__icono{
                }
    
                .contenedor__info{
                    display: flex;
                    flex-direction: row;
                    margin: 0px;
                }
        }
    }

    #gridContenidoHome{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "banner banner"
                             "principal articulo"
    }
    
        .bannerHome{
            grid-area: banner;
            height: 600px;
        }
    
        .introHome{
            grid-area: principal;
            text-align: center;
            padding: 10%;
            height: 400px;

        }
    
        .articuloHome{
            grid-area: articulo;
            background-color: #9EA548;
            height: 400px;
            padding: 10%;

            p{
                font-size: smaller;
            }

            #carouselfundador{
                padding: 5% 15% 5% 15%;
            }

            h3{
                font-size: 14px;
                color: #EFD0B1;
            }
        }

    .metodoCompra{
        margin: 1%;
        padding: 1%;

        .metodoCompra__cont{
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
    
            .cont__bajadaMetodo{
                flex-direction: row;
                padding: 1%;
            }
    
            .cont__grupo{
                flex-direction: column;
                align-items: center;
                justify-items: space-evenly;
                padding: 1%;
                margin: 1%;

                .grupo__img{
                }
        
                .grupo__textoMetodo{
                    padding: 10%;
                    text-align: center;
                }
            }
        }
    }

    
    .listadoProductores{
    flex-direction: row;
    justify-content: space-evenly;
    }

    .almacen{
        text-align: left;
    }

    .categoriaProductos{

        .categoriaProductos__cont{
            padding: 1%;

            .cont__imgCategoria{
                padding: 1%;
            }
    
            .cont__bajada{
                padding: 1%;
            }
        }
    }

  }
  